<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
    <section class="application">
                <h2>Welcome to Nova, <%=employee.username %></h2>
                    <h2>FirstName: <%=employee.firstName%></h1>
                    <h2>LastName: <%= employee.lastName %></h2>
                    <h2>Department:<%= employee.department%></h2>
                    <h2>Position:<%= employee.position %></h2>
                    <h2>Email:<%= employee.email%></h2>
                    <h2>Phone number:<%= employee.phoneNumber%></h2>
                    <h2>Picture: <img src="<%=employee.picture%>" alt="Employee image"></h2>
                    <a href="/book">Book</a>
                    <a href="/rooms">Rooms</a>
    </section>
    
</body>

</html>
