<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

    <section class="application">
        <a href="/profile">My Profile</a>
        <h2> Here are all the available rooms </h2>
        <ul>
            <% for (let room of rooms) { %>
            <li>
                <h2>Room name: <%=room.room%></h1>
                    <h2>Floor: <%= room.floor%></h2>
                    <h2>Capacity:<%= room.capacity%></h2>
                    <h2>Booked Status:<% if (room.bookedStatus) { %>
                        <p> available for booking!!!</p>
                        <%} else { %>
                        <p> already booked </p>
                        <% } %> 
                    </h2>
                    <h2>Bookings:<%= room.bookings%><a href="/book" id =<%=room._id%>>Book</a></h2>
            </li>
            <% } %>
        </ul>
    </section>
    
</body>

</html>
