<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Room Details' }) %>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <%- include('./partials/header.ejs') %>
            <main class="py-[200px] bg-[url('/assets/meetingroom.jpeg')] min-h-[100vh] bg-no-repeat bg-cover">
                <div class="max-w-[700px] my-auto mx-auto">
                    <div
                        class="mx-auto rounded-lg gap-2 flex flex-col justify-center items-center p-6 bg-sky-500/50">

                        <h2 class="text-[24px] mb-4 ext-xl font-bold"> Room Details</h2>

                        <p><span class="font-bold">Room name: </span>
                            <%=room.room%>
                        </p>
                        <p><span class="font-bold"> Floor: </span>
                            <%= room.floor%>
                        </p>
                        <p><span class="font-bold"> Capacity:</span>
                            <%= room.capacity%>
                        </p>
                        <img class="w-[500px] h-[400px]" src="<%= room.photo %>" alt="<%=room.room%> photo">

                    </div>
                    <%- include('./partials/footer.ejs') %>
                </div>
                </div>
            </main>
</body>

</html>