<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Rooms'}) %>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <section class="application">
        <h2> Rooms List </h2>
        <ul>
            <% for (let room of rooms) { %>
            <li>
                <h2>Room name:<%= room.room %></h2>
                <h2>Floor: <%= room.floor %></h2>
                    <h2>Capacity:<%= room.capacity%></h2>
                    <h2>Bookings:<%= room.bookings%><a href="/rooms/<%= room._id %>">Book</a></h2>
            </li>
            <% } %>
        </ul>
    </section>
    <%- include('./partials/footer.ejs') %>
</body>

</html>
